<% provide(:title, "Home") %>
<div class="page-content">
<div id="title-header">
	<h1 id="summer"> Summer </h1>
	<h1 id="night"> Night </h1>
	<h1 id="reads"> Reads </h1>
	<div id="title-tag">
		<p> Tell about the books you love </p>
	</div>
</div>

<div id="reader-interface">
	<div id="subscribe" class="interface">
		<p> Subscribe </p>
	</div>

	<div id="login" class="interface">
		<p> LogIn </p>
	</div>

	<div id="create-account-content" class="access-form">
		<%= render 'readers/create_account' %>
	</div>

	<div id="login-content" class="access-form">
		<%= render 'sessions/login' %>
	</div>


</div>



</div>