// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#title-header{
		position: fixed;
		top: 0;
		left: 0;
	}
	#reader-interface{
		position: fixed;
		top: 0;
		right: 0;
	}

	#subscribe{
		position: fixed;
		right: 550px;
		top: 350px;
		cursor: pointer;
	}

	#subscribe:hover, #login:hover{
		letter-spacing: 4px;
	}

	#login{
		position: fixed;
		right: 300px;
		top: 350px;
		cursor: pointer;
	}

	#title-header h1{
		font-size: 9.5em;
		font-family: 'Ubuntu', sans-serif;
	}

	#summer{
		position: fixed;
		left: 65px;
		top: 0px;
	}

	#night{
		position: fixed;
		left: 26px;
		top: 250px;
	}
	#reads{
		position: fixed;
		left: 176px;
		top: 486px;
	}

	#title-tag{
		position: fixed;
		bottom: 35px;
		left: 382px;
	}

	p{
		font-family: 'Poppins', sans-serif;
	}

	.access-form{
		position: fixed;
		top: 150px;
		right: 35px;
		display: none;
	}


}

@media screen and (max-width: 1242px) {
	
	#title-header h1{
		font-size: 5.5em;
		font-family: 'Ubuntu', sans-serif;
	}

	#title-tag{
		position: fixed;
		bottom: 105px;
		left: 250px;
	}

	#subscribe{
		position: fixed;
		right: 250px;
		top: 180px;
		cursor: pointer;
	}

	#login{
		position: fixed;
		right: 100px;
		top: 180px;
		cursor: pointer;
	}
}